@import '../../../common/scss/common';

.masthead-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
    height: 300px;
    background: gray;
  }

  .title {

  }

  .orange-btn {

  }
}
