<header class="global-nav">
    <div class="logo-wrapper">
        <img src="../components/images/logo/quote-logo.png" class="quote-logo">
        <div class="divider"></div>
        <img src="../components/images/logo/bth.png" alt="bth-logo" class="bth-logo">
    </div>
    <div class="global-nav-button">
        <div class="line"></div>
        <div class="line-wrap">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="line"></div>
    </div>
</header>

<div class="hamburger-menu">
    <div class="hamburger-menu-content-wrapper">
        <ul class="hamburger-menu-list">
            <li><span><a href='/about/'>About</a></span></li>
            <li><span><a href='/portfolio/'>Portfolio</a></span></li>
            <li><span><a href='/contact/'>Contact Us</a></span></li>
            <li><span><a href='/print/'>Prints</a></span></li>
        </ul>
    </div>
</div>
