<div class="hp-slider">
    {{#each slider}}
    <div class="hp-slide">
        <div class="slide-content">
            <img src={{img}} />
            <div class="content">
              Slide
            </div>
        </div>
    </div>
    {{/each}}
</div>
