<div class="external-links-wrapper">
  <h2 class="title">{{title}}</h2>
  <div class="links">
    {{#each links}}
      <a href="{{href}}">
        <img src="{{img}}">
      </a>
    {{/each}}
  </div>
</div>
